
<!-- Footer -->
<div class="container">
    <div id="footer">
        <div class="row">
            <section class="4u">
                <header>
                    <h2>Nulla eleifend</h2>
                </header>
                <ul class="default">
                    <li class="first"><a href="#">Pellentesque quis elit non lectus gravida blandit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
                    <li><a href="#">Phasellus nec erat sit amet nibh pellentesque congue.</a></li>
                    <li><a href="#">Cras vitae metus aliquam risus pellentesque pharetra.</a></li>
                    <li><a href="#">Duis non ante in metus commodo euismod lobortis.</a></li>
                </ul>
            </section>
            <section class="4u">
                <header>
                    <h2>Etiam posuere</h2>
                </header>
                <ul class="default">
                    <li class="first"><a href="#">Pellentesque quis elit non lectus gravida blandit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
                    <li><a href="#">Phasellus nec erat sit amet nibh pellentesque congue.</a></li>
                    <li><a href="#">Cras vitae metus aliquam risus pellentesque pharetra.</a></li>
                    <li><a href="#">Duis non ante in metus commodo euismod lobortis.</a></li>
                </ul>
            </section>
            <section class="4u">
                <header>
                    <h2>Mauris vulputate</h2>
                </header>
                <ul class="default">
                    <li class="first"><a href="#">Pellentesque quis elit non lectus gravida blandit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
                    <li><a href="#">Phasellus nec erat sit amet nibh pellentesque congue.</a></li>
                    <li><a href="#">Cras vitae metus aliquam risus pellentesque pharetra.</a></li>
                    <li><a href="#">Duis non ante in metus commodo euismod lobortis.</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>
<!-- /Footer -->

<!-- Copyright -->
<div id="copyright">
    <div class="container">
        Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a
            href="http://unsplash.com/cc0">CC0</a>)
    </div>
</div>
