<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
    <div class="small-navbar visible-xs">
        <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
        <h1 class="small-navbar-heading"> <a href="index.html">Creative </a></h1>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="content-column-content">
                <h1>New Post</h1>
                <form id="write-form" method="post" action="#" class="write-form form">
                    <div class="controls">

                        <div class="form-group input-group">
                            <!-- Single button -->
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div><!-- /btn-group -->
                            <input type="username" name="username" id="username" required="required" class="form-control" placeholder="Email Address">
                        </div>

                        <div class="form-group">
                            <textarea rows="4" name="message" id="message" required="required" class="form-control"></textarea>
                        </div>
                        <div>
                            <input type="submit" value="Send" class="btn btn-ghost">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>